.head1{
	float:left;
	padding:25px;
	font-size:25px;
	line-height:0px;
	height:50px
}
.btn-success{font-
	background-color:#428bca;
	border-color:#357ebd}
.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success
{color:#fff;
	background-color:#3276b1;
	border-color:#285e8e}
	.lg{
		color: #ffffff;
	}
	